<ion-header class="header-miski">
  <ion-toolbar color="primary">
    <!-- Logo MISKI en el medio -->
    <div slot="start" class="logo-container">
      
      

  <img src="assets/icon/Leading_icon.svg" alt="Inicio" (click)="irAlInicio()" routerLink="/home-miski">

    </div>



    <!-- Logo centrado -->
    <ion-title class="logo-title">
      <img src="assets/icon/holaa-Photoroom.png" alt="Logo MISKY" class="logo-image">
    </ion-title>

    <!-- Avatar a la derecha -->
    <ion-buttons slot="end">
      <ion-button 
        class="avatar-button"
        (click)="irAlPerfil()"
        routerLink="/perfil-miski">
        <img 
          [src]="avatarUrl" 
          alt="Avatar de usuario" 
          class="avatar-image">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
