<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-item>
      <ion-label position="stacked">Contraseña Actual *</ion-label>
      <ion-input [(ngModel)]="currentPassword" name="currentPassword" type="password" placeholder="Ingresa tu contraseña actual"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nueva Contraseña *</ion-label>
      <ion-input [(ngModel)]="newPassword" name="newPassword" type="password" placeholder="Ingresa nueva contraseña (mín 6 caracteres)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmar Nueva Contraseña *</ion-label>
      <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" placeholder="Confirma la nueva contraseña"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="cambiarPassword()" color="primary">
      Cambiar Contraseña
    </ion-button>
  </form>
</ion-content>