<ion-header class="ion-no-border">
  <ion-toolbar class="miski-toolbar">
    
    <div slot="start" class="header-left-icon">
      <img src="assets/icon/Leading_icon.svg" 
           alt="Inicio" 
           (click)="irAlInicio()">
    </div>

    <ion-title class="header-logo-center">
      <img src="assets/icon/holaa-Photoroom.png" alt="Logo MISKY">
    </ion-title>

    <ion-buttons slot="end">
      <div class="header-avatar-right" (click)="irAlPerfil()">
        <div class="avatar-circle">
          <img [src]="avatarUrl" alt="Perfil">
        </div>
      </div>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="bg-light ion-padding">
  
  <div class="profile-header-card">
    <div class="profile-avatar-large">
      <img [src]="userProfile?.photoURL || avatarUrl" alt="Foto de perfil">
      <div class="edit-avatar-btn" (click)="abrirEditarDatos()">
        <ion-icon name="camera-outline"></ion-icon>
      </div>
    </div>
  
    <h2 class="profile-name">{{ userProfile?.nombre }} {{ userProfile?.apellidos }}</h2>
    <p class="profile-email">{{ userProfile?.email || 'cargando...' }}</p>
    
   <ion-chip [color]="userProfile?.activo ? 'success' : 'danger'" mode="ios" class="status-chip">
      <ion-icon [name]="userProfile?.activo ? 'checkmark-circle' : 'close-circle'"></ion-icon>
      <ion-label>{{ userProfile?.activo ? 'Activo' : 'Inactivo' }}</ion-label>
    </ion-chip>
  </div>

  <div class="profile-options-grid">
    
    <ion-card class="option-card" button (click)="abrirEditarDatos()">
      <div class="icon-box blue">
        <ion-icon name="create-outline"></ion-icon>
      </div>
      <div class="text-box">
        <h3>Editar Datos</h3>
        <p>Actualizar nombre o foto</p>
      </div>
      <ion-icon name="chevron-forward-outline" slot="end" color="medium"></ion-icon>
    </ion-card>

    <ion-card class="option-card" button (click)="abrirCambiarPassword()">
      <div class="icon-box orange">
        <ion-icon name="lock-closed-outline"></ion-icon>
      </div>
      <div class="text-box">
        <h3>Seguridad</h3>
        <p>Cambiar contraseña</p>
      </div>
      <ion-icon name="chevron-forward-outline" slot="end" color="medium"></ion-icon>
    </ion-card>

    <ion-card class="option-card logout-card" button (click)="logout()">
      <div class="icon-box red">
        <ion-icon name="log-out-outline"></ion-icon>
      </div>
      <div class="text-box">
        <h3>Cerrar Sesión</h3>
        <p>Salir de la aplicación</p>
      </div>
    </ion-card>

  </div>

</ion-content>